In [35]:
import pandas as pd

In [36]:
example_df = pd.read_csv('example_data.csv')
example_df.head()

   Column1 Column2  Column3 Column4  Column5
0        1       a      1.1   apple      NaN
1        2       b      NaN     NaN      NaN
2        3              3.3  carrot      NaN
3        4       d      4.4  banana      NaN
4        5       e      5.5     NaN      NaN

In [37]:
example_df.at[2, 'Column2'] = ' '
example_df.at[1, 'Column4'] = 'NULL'
example_df.at[4, 'Column4'] = 'NULL'
example_df['Column2'] = example_df['Column2'].astype('string')
example_df['Column4'] = example_df['Column4'].astype('string')
example_df['Column1'] = example_df['Column1'].astype('int64')

In [38]:

example_df.head()

   Column1 Column2  Column3 Column4  Column5
0        1       a      1.1   apple      NaN
1        2       b      NaN    NULL      NaN
2        3              3.3  carrot      NaN
3        4       d      4.4  banana      NaN
4        5       e      5.5    NULL      NaN

In [39]:
example_df.to_csv('example_data.csv', index=False)